Package             Version
------------------- -------
Django              2.1.1  
djangorestframework 3.8.2  
pip                 18.0   
psycopg2            2.7.5  
pytz                2018.5 
setuptools          40.2.0 
wheel               0.31.1 
